<div class="d-flex flex-column justify-content-center align-items-center">
		<%for (let post of posts) {%>
		<div id="<%=post.id%>" class="post">
			<div class="d-flex justify-content-between">
				<p class="m-0 text-grey">Posted by: <a class="username" href="/profile/<%=post.creatorID%>"><%=post.creatorUsername%></a></p>
				<p class="m-0 text-grey">Created on: <%=post.createdOn%>
					<%if (post.editedOn != ''){%>
						, Last modified: <%=post.editedOn%>
					<%}%>
				</p>
			</div>
			<hr class="m-0 mt-1">
			
			<h3 class="my-3 text-start fw-bold"><%=post.title%></h3>
			
			<p class="text-start mt-4"><%=post.content%></p>
			<%if (post.picture && post.picture.length != 0) {%>
			<image class="border rounded-2 mb-3" src="/images/<%=post.picture%>"></image>
			<%}%>
			
			
			<div class="text-start mb-3">
				<a class="btn
					<%if (post.userLiked) {%>
						btn-primary" href="/like/<%=post.id%>">Liked
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
						</svg>
					<%}
					else {%>
						btn-secondary" href="/like/<%=post.id%>">Like
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
						</svg>
					<%}%>
				</a>&nbsp<%=post.likes%>
			</div>
			
			<div class="d-flex mb-3 align-items-center">
				<a class="text-small text-grey" data-bs-toggle="collapse" href="#Comments<%=post.id%>" role="button" aria-expanded="false" aria-controls="collapseComments<%=post.id%>">
					Toggle comments (<%=post.comments.length%>)
				</a>&nbsp
				<hr class="m-0 my-1 flex-fill">
			</div>
			<div class="collapse" id="Comments<%=post.id%>">
			
				<div class="overflow-auto max-vh-30 p-1 mb-1">
					<%for (let comment of post.comments) {%>
					<div class="d-flex justify-content-between">
						<a class="username" href="/profile/<%=comment.creator.id%>"><%=comment.creator.username%>:</a>&nbsp
						<p class="m-0 text-grey">Created on: <%=comment.createdOn%>
							<%if (comment.lastEdited != ''){%>
								, Last modified: <%=comment.lastEdited%>
							<%}%>
						</p>
					</div>
					<p class="text-start"><%=comment.content%></p>
					<hr class="m-0 mb-3">
					<%}%>
				</div>
				
				<form method="post" action="/comment" class="d-flex my-3">
					<label for="commentText"></label>
					<input type="text" name="commentText" class="form-control" placeholder="Comment...">
					<input type="hidden" name="postID" value="<%=post.id%>">
					<button type="submit" class="d-flex align-items-center btn btn-primary ml-2">
						Send
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
							<path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
						</svg>
					</button>
				</form>
			</div>
		</div>
		<%}%>
</div>